.join-room-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 8vw;
  column-gap: 10vw; /* Adjusted column-gap for better responsiveness */
}
.JoinButton {
  display: flex;
  position: relative;
  top: 5vw;
  width: 19vw; /* Adjusted width using viewport width */
  height: 5vw; /* Adjusted height using viewport width */
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
  font-family: Syne;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 45.678px;
  background: linear-gradient(
    54deg,
    #a59999 94.52%,
    #f1f1f1 94.53%,
    #d9d9d9 94.53%
  );
}
.JoinButton:hover {
  background-color: #1e1e1f;
}
.form-input {
  display: flex;
  width: 25vw; /* Adjusted width using viewport width */
  height: 4vw;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 12.79px;
  border: 1.827px solid #f1f1f1;
  color: #bcbcbc;
  font-family: Syne;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
  background-color: #1e1e1f;
}
.input {
  display: flex;
  flex-direction: column;
  row-gap: 3.1vw;
}
