.People-wrapper {
  position: absolute;
  z-index: 999;
  left: 71%;
  top: 4%;
  width: 27%;
  height: 87%;
  flex-shrink: 0;
  border-radius: 1vw;
  background: #fff;
}
.Header {
  display: flex;
  width: 100%;
  padding: 6% 3% 1% 5%;
  align-items: center;
  justify-content: center;

  h1 {
    color: #202124;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 9px;
  }
  .ArrowBackIcon {
    cursor: pointer;
    margin-right: 8px;
  }
  .CloseIcon {
    cursor: pointer;
    margin-left: auto;
  }
}
.addPeopl-div {
  display: flex;
  width: 100%;
  padding: 10px 24px;
  justify-content: space-between;
  align-items: center;
  h3 {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
  }
  .addframe {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .controlframe {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
  }
}
.Inroom {
  color: #5f6368;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 22px;
}
.client {
  display: flex;
  align-items: center;
  padding-left: 22px;
  padding-bottom: 10px;
}
.username {
  color: #202124;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
}
