.chat-window {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  left: 71%;
  top: 4%;
  width: 26%;
  height: 85%;
  flex-shrink: 0;
  border-radius: 1vw;
  background: #fff;
}
.Header {
  width: 100%;
  padding: 6% 3% 1% 5%;
  align-items: center;
  justify-content: center;

  h1 {
    color: #202124;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 9px;
  }
  .CloseIcon {
    cursor: pointer;
    margin-left: auto;
  }
}
.chat-body {
  padding: 10px;
  flex: 1;
}
.chat-footer {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px;
  height: 9%;
  width: 96%;
  margin: 0 auto;
  border-radius: 1.5vw;
  background: #f1f3f4;
  .message-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    background: #f1f3f4;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #202124;
  }
}
.Chats {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  display: grid;
  place-items: center;
}
.chat-body {
  flex: 1;
  overflow-y: auto;
  position: relative;
  .info {
    display: flex;
    margin: 0 auto;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #f1f3f4;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }
  .infotext {
    color: #202124;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.chatTtitle {
  display: flex;
  width: 360px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  .chatTtitleInner {
    display: flex;
    width: 317px;
    height: 47px;
    padding: 4px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    background: #f1f3f4;
  }
  .chatTtitleInnerh1 {
    align-items: center;
    color: #202124;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* CHAT */
.message-container {
  font: 14px;
  font-family: sans-serif;
  padding: 0 10px;
  margin-top: 20px;
  font-weight: 400;
  line-height: normal;
}

#you,
#other {
  margin-top: 20px;
  padding: 3px 9px;
  max-width: 50%;
  clear: both;
  position: relative;
}

#other {
  float: left;
  margin-right: auto;
  -webkit-border-radius: 10px 10px 10px 0px;
  -moz-border-radius: 10px 10px 10px 0px;
  -o-border-radius: 10px 10px 10px 0px;
  -ms-border-radius: 10px 10px 10px 0px;
  border-radius: 12px 12px 12px 0px;
  background-color: #e5e5ea;
  color: black;
}

#other:before {
  border-bottom: 10px solid #e5e5ea;
  border-left: 9px solid rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  left: -8px;
  content: "";
}

#you {
  float: right;
  margin-left: auto;
  text-align: right;
  -webkit-border-radius: 10px 10px 0px 10px;
  -moz-border-radius: 10px 10px 0px 10px;
  -o-border-radius: 10px 10px 0px 10px;
  -ms-border-radius: 10px 10px 0px 10px;
  border-radius: 12px 12px 0px 12px;
  background-color: #0b93f6;
  color: white;
}

#you:before {
  border-bottom: 9px solid #0b93f6;
  border-right: 9px solid rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  right: -8px;
  content: "";
}
