.Output-div {
  display: flex;
  width: 45%; /* Adjusted width to 90% of the viewport width */
  height: 22vh;
  margin-top: 0.8vw;
  padding: 1% 2%; /* Adjusted padding using percentages */
  flex-direction: column;
  align-items: flex-start;
  gap: 2%; /* Adjusted gap using percentages */
  flex-shrink: 0;
  border-radius: 2.5vw; /* Adjusted border radius to 2.5% of viewport width */
  border-top: 0.1em solid #3c3c4a; /* Border width in em units */
  background: #111316;
}
.outputText {
  position: absolute;
  color: #9099ac;
  font-family: Poppins;
  font-size: 1em; /* Adjusted font size in em units */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Output {
  position: relative;
  resize: none;
  top: 1.5vw;
  height: 85%;
  width: 100%;
  flex-shrink: 0;
  background: #111316;
  color: #dfebff;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

.runButton {
  position: relative;
  color: #dfebff;
  font-family: Syne;
  font-size: 1.4em; /* Adjusted font size in em units */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 2.5vw; /* Adjusted border radius to 2.5% of viewport width */
  border: 0.05em solid #1e1e1e; /* Border width in em units */
  background: #1f2228;
  height: 6vh; /* Adjusted height in viewport height units */
  padding: 0.5% 2%; /* Adjusted padding using percentages */
  justify-content: center;
  align-items: center;
  gap: 0.5%; /* Adjusted gap using percentages */
  flex-shrink: 0;
}
