/*.CreateRoomForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 8vw;
  column-gap: 10vw; /* Adjusted column-gap for better responsiveness */
/*}
.CreateButton {
  display: flex;
  position: relative;
  top: 5vw;
  width: 19vw; /* Adjusted width using viewport width */
/*height: 5vw; /* Adjusted height using viewport width */
/*justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
  font-family: Syne;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 45.678px;
  background: linear-gradient(
    54deg,
    #a59999 94.52%,
    #f1f1f1 94.53%,
    #d9d9d9 94.53%
  );
}
.CreateButton:hover {
  background-color: #1e1e1f;
}
.form-input {
  width: 0vw; /* Adjusted width using viewport width */
/*height: 0vw; /* Adjusted height using viewport width */
/*padding: 10.986px 19.733px;
  border-radius: 12.724px;
  border: 1.818px solid #f1f1f1;
  color: #bcbcbc;
  font-family: Syne;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
}
.input {
  display: flex;
  flex-direction: column;
  row-gap: 2.1vw;
}
.Generate-room {
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}
.form-input-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.generate-input {
  border-radius: 12.724px;
  border: 1.818px solid #f1f1f1;
  color: #bcbcbc;
  font-family: Syne;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
  padding-right: 100px;
}
.copy-btn {
  color: #fff;
  position: absolute;
  right: 110px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Generate-btn {
  position: absolute;
  right: 10px;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 45.68px;
  background: #a59999;
  width: 90px;
  height: 41px;
  padding: 9px 2.897px;
  flex-shrink: 0;
}*/
