.meeting-name {
  position: relative;
  align-items: center;
  display: flex;
  margin-top: 1.3vw;
  margin-left: 1.5vw;
  width: 26%;
  height: 10.4vh;
  border-radius: 18px;
  border-top: 1.405px solid rgba(217, 217, 217, 0.29);
  border-bottom: 1.405px solid rgba(217, 217, 217, 0.29);
  border-left: 1.405px solid rgba(217, 217, 217, 0.29);
  background: #cfcfcf;
}
.meetingpng {
  position: absolute;
  width: 3vw;
  margin-left: 2vw;
}
.meeting-line {
  position: absolute;
  width: 0.1vw;
  height: 3.5vw;
  margin-left: 6vw;
  background: #e7e5e5;
}
.meeting-name-text {
  position: absolute;
  margin-left: 6.5vw;
  top: 1.01vw;
  color: #373131;
  font-family: Inter;
  font-size: 17.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.meeting-date-time {
  position: absolute;
  color: #8c8989;
  margin-left: 6.5vw;
  top: 2.8vw;
  font-family: Inter;
  font-size: 16.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
