.Room {
  background-color: #1f2228;
  height: 100vh;
  width: 100%;
}
.InkCode {
  color: #fff;
  font-family: Inter;
  font-size: 2.8vw;
  font-style: normal;
  font-weight: 600;
  line-height: 102%;
  letter-spacing: -1.92px;
  padding-left: 1.5vw;
  padding-top: 1vw;
}
