.Room {
  background-color: #1f2228;
  height: 100%;
  width: 100%;
}
.InkCode {
  color: #fff;
  font-family: Inter;
  font-size: 2.8vw;
  font-style: normal;
  font-weight: 600;
  line-height: 102%;
  letter-spacing: -1.92px;
  padding-left: 1.5vw;
  padding-top: 1vw;
}

.people {
  position: relative;
  z-index: 999;

  background-color: #111316;
  padding-left: 1.5vw;
  align-items: center;
  width: 9vw;
  height: 4.5vh;
  border-radius: 30px;
}
